<!--Hanjun Kim and Christian McKinnon, CS340, 3/15/2024
Code Adapted from CS340 Canvas Module Week 6: Exploration - Web Application Technology and Steps 3 and 7: CS 340 GitHub Guide

Citations:
https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) 
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data -->

<!-- index.hbs This is our "Homepage" that describes our Database and Entities -->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CS 340: Project Streamathon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="robots" content="noindex,noarchive, nofollow" />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
</head>
<body>
     <!-- Header for Project Step 6 Final -->
    <header>
        <h1><img src="/favicon.ico" alt="My favicon" style="width: 48px; height: 48px;">&nbsp;Streamathon Database Management System</h1>
    </header>
     <!--A navigation bar with 7 Entities and 1 Homepage-->
    <nav>
        <a href = "index">Home</a>
        <a href = "movies">Movies</a>
        <a href = "users">Users</a>
        <a href = "subscriptions">Subscriptions</a>
        <a href = "subtiers">Subscription Tiers</a>
        <a href = "genres">Genres</a>
        <a href = "ratings">Ratings</a>
        <a href = "movgentable">MoviesGenresTable</a>
    </nav>
    <main>
        <section>
            <!--Title of our Company / Database and Website-->
            <h2>Streamathon: A Movie Streaming Service for Everyone!</h2>
            <h4>(Please use Google Chrome to View)</h4>

            <!--The outline from our PDF report-->
            <p>Streamathon is a relatively new movie-streaming platform, where its 
                2,000 daily-active users have access to over 300 different movie titles 
                on-demand. Our team intends to build a database designed to keep track of 
                user-based movie ratings and subscriptions to gauge which movie contracts 
                have been most profitable. Additional key metrics will include customer profile 
                details and movie genre preferences, to provide insights that inform strategic 
                decisions at the company’s business intelligence unit. Ultimately, these insights 
                will play a pivotal role in determining how Streamathon curates and maintains its 
                content catalog.
            </p>
            <!--Description of Entities using an unordered list-->
            <body>
                <h2>Streamathon Entities</h2>
                <ul>
                    <li>
                        <strong>Movies:</strong> Represents Streamathon’s movies on offer and their details, with attributes including the movieID, 
                        title, director, year, duration, and language of the film.
                    </li><br>
                    <li>
                        <strong>Users:</strong> Records the personal data of Streamathon’s 2,000+ users, including the attributes: userID, 
                        first and last name, email, and age.
                    </li><br>
                    <li>
                        <strong>Subscriptions:</strong> This entity represents a User's Subscription which includes their subscriptionID, userID,
                        subTierID, subscriptionStatus, and autoRenew. On this site, we represent userID as userName and subTierID 
                        as subscriptionType.
                    </li><br>
                    <li>
                        <strong>SubscriptionTiers:</strong> An entity that includes the choice of subscriptions available for Streamathon users. 
                        They can select from None, Basic, Ad-Free, and Premium tiers that are priced at 0.00, 5.99, 9.99, and 14.99 USD respectively. User’s 
                        Subscriptions are billed monthly. Its entities are subTierID, subscriptionType, and price.
                    </li><br>
                    <li>
                        <strong>Genres:</strong> This entity outlines the different possible genre categories that a movie can belong to. These Genres 
                        exhibit their M:N relationship with Movies in the MoviesGenres Intersection Table. The Genres table’s attributes include genreID 
                        and genreType, where genreType represents the genre category.
                    </li><br>
                    <li>
                        <strong>Ratings:</strong> This is an entity that functions as an intersection table / composite entity. It represents 
                        Ratings as a link between Movies and Users. This is the case as a User can rate many Movies, and a Movie can be rated 
                        by many Users. After viewing a movie, Users have the option to award a rating between 1 and 5. Within the table, 
                        we can view the rating an individual user assigned to a movie. The attributes include ratingID, userID, movieID, userRating, 
                        and ratingDate. On this site, the userID is represented as userName and movieID is represented as by title.
                    </li><br>
                    <li>
                        <strong>MoviesGenresTable:</strong> An intersection table that keeps track of the M:N relationship between the Movies 
                        and Genres entities. The table will contain as foreign keys, movieID and genreID, as attributes, that are references to
                        both primary keys from their respective tables. On this site, movieID is represented by the movie title and genreID is 
                        represented by its genreType.
                    </li>
                </ul>
            </body>
       </section>
    </main>
    <!-- Copyright of our team as footer -->
    <footer>
        <p>
            &copy; 2024 Hanjun Kim & Christian McKinnon (Team AceSync - Group 10) for CS 340
        </p>
    </footer>
</body>
</html>