<!--Hanjun Kim and Christian McKinnon, CS340 
Code Adapted from CS340 Canvas Module Week 6: Exploration - Web Application Technology and Steps 3 and 7: CS 340 GitHub Guide

Citations:
https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) 
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data -->

<!-- movgentable.hbs for our MoviesGenresTable Entity: Create and Read Functionality -->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CS 340: Project Step 3</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="robots" content="noindex,noarchive, nofollow" />
    <!--<link rel='stylesheet' type='text/css' media='screen' href='main.css'>-->
    <!--<script src='main.js'></script>-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <!--<link rel="manifest" href="site.webmanifest">-->
</head>
<body>
     <!-- Header for Project Step 3 Draft (will update this for new assignments) -->
    <header>
        <h1>Streamathon: Project Step 5 for CS 340 (Team AceSync - Group 10)</h1>
    </header>
    <!--A navigation bar with 7 Entities and 1 Homepage-->
    <nav>
        <a href = "index">Home</a>
        <a href = "movies">Movies</a>
        <a href = "users">Users</a>
        <a href = "subscriptions">Subscriptions</a>
        <a href = "subtiers">Subscription Tiers</a>
        <a href = "genres">Genres</a>
        <a href = "ratings">Ratings</a>
        <a href = "movgentable">MoviesGenresTable</a>
    </nav>
     <head>
    <title>MoviesGenresTable</title>
    <script language="JavaScript">
		function showform(dowhat) {
			// There are only 3 actions here as we do not have a separate "DELETE" form
            // We don't show UPDATE on the main page
            if (dowhat == "all") {
                document.getElementById("browse").style.display = "block";
                document.getElementById("insert").style.display = "block";
            } else if (dowhat == "insert") {
                document.getElementById("browse").style.display = "none";
                document.getElementById("insert").style.display = "block";
            } else {
                // Otherwise, we simply display options
                document.getElementById("browse").style.display = "block";
                document.getElementById("insert").style.display = "block";
            }
        }
    function newMovieGenre() { showform('insert'); }
    function browseMovieGenre() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>
<body onload="browseMovieGenre()">

<h2>MoviesGenres Intersection Table</h2>
        <!--The following is our table with example data for the MoviesGenresTable Intersection Table-->
        <p> This Intersection Table represents the M:N relationship between the Movies and Genres Entities, 
            entries can be added on the Movies Page. When a Movie is deleted, the corresponding row with the 
            same movieID and genreID will be removed from this table as well.
        </p>

<!-- BROWSE / DELETE -->
<div id="browse">
<table border="1" cellpadding="2", id = "movie-genre-table">
  <tr>
    <th colspan="2" style="text-align: center;">MoviesGenresTable</th>
    </tr>
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
  </tr>
  {{#each data}}
  <tr data-value = "{{this.[movieTitle]}}">

   {{!-- Body section --}}
        {{!-- For each row, print the movieID, genreType, and price in order --}}
            <td>{{this.[movieTitle]}}</td>
            <td>{{this.[movieGenre]}}</td>
        </tr>
        {{/each}}
</table>
<p>&nbsp;</p>
</div> 

<!-- INSERT MovieGenre -->
<div id="insert">
    <legend><h2>Add MovieGenre Entry:</h2></legend>
    <p> A form to add a new entry to the MoviesGenres Intersection Table. (Nothing here can be NULL)</p> 
    <form id="add-movie-genre-form">
        <fieldset>
      <label for="input-genreType">Genre Type: </label>
      <input type="text" name="input-genreType" id="input-genreType">
      
          <input class="btn" type="submit" id="addGenre" value="Add Genre" onClick="browseMovieGenre()">
          <input class="btn" type="button" value="Cancel" onClick="browseMovieGenre()">
    </fieldset>
	</form> 
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<!-- <script src="./js/add_movgen.js"></script> -->
</div>
<p></p>
</div>

<p><br><br><br><br><br></p>
<!-- Copyright of our team as footer -->
<footer>
    <p>
        &copy; 2024 Hanjun Kim & Christian McKinnon (Team AceSync - Group 10)
    </p>
</footer>
</body>
</html>